<meta charset="utf8" />
<table style="margin:0 auto; width:80%; font-family:Arial, Helvetica, sans-serif; border:1px solid #3d3d3f;">
    <tr>
        <td colspan="2" style="height: 30px; background:#A90000">
            <span style="margin-left:10px; font-weight:bold; color:white;">Formulaire de contact</span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 50px 10px;">
            {{ message }}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 30px; background:#A90000">
            <span style="margin-left:10px; font-weight:bold; color:white;">Ce message provient du formulaire de contact de www.acte13.fr</span>
        </td>
    </tr>
</table>


