<div class="row">
    <h1 class="col-lg-12 col-md-12">
        {{ render.title }}
    </h1>
</div>
<div class="row">
    <p id="DescriptionPage" class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        Mauris eget est malesuada, aliquet leo at, malesuada diam. In placerat bibendum urna, sit amet dictum felis vestibulum eu
    </p>
</div>
<div id="Contact" class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1">
                <form>
                    <input type="text" name="nomContact" id="TxtNom" placeholder="Votre prénom et nom"/>
                    <input type="email" name="mailContact" id="TxtMail" placeholder="Votre adresse mail"/>
                    <input type="text" name="objetContact" id="TxtObjet" placeholder="Objet du message"/>
                    <textarea name="messageContact" id="TxtMessageRDV" placeholder="Votre message"></textarea>
                    <button name="submitContact" id="BtnSubmitContact">Envoyer</button>
                </form>
            </div>
            <div id="GoogleMapContainer" class="col-lg-5">
                <div id="GoogleMap"><div class="loader">Chargement de la carte...</div></div>
                <div id="Coordonnees">
                    <p>Acte 13</p>
                    <p>Adresse1</p>
                    <p>Adresse2</p>
                    <p>Code postal Ville</p>
                    <p>numTel</p>
                    <p>numFax</p>
                    <a href="mail:" class="email">acte13[at]gmail.com</a>
                </div>
                <div id="PiecesJointes">
                    <a href="#" class="link">Télécharger machin chose</a>
                    <a href="#" class="link">Télécharger truc </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    function initialize() {
        var lat = -25.363882;
        var lng = 131.044922;
        var myLatlng = new google.maps.LatLng(lat,lng);
        var mapOptions = {
            zoom: 10,
            center: myLatlng
        };
        var map = new google.maps.Map(document.getElementById('GoogleMap'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'ACTE13'
        });

        google.maps.event.addListener(marker, 'click', function() {
            var infowindow = new google.maps.InfoWindow({
                content: marker.title
            });
            infowindow.open(marker.get('map'), marker);
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
