</div>
</div>
</div>
</div>
</section>
<footer id="Footer" class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <nav id="FooterNavigation">
                <ul>
                    {{ render.menu|raw }}
                </ul>
            </nav>
        </div>
    </div>
</footer>
<div id="BackToTop" onclick="backToTop()"></div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40854137-7', 'acte13.fr');
    ga('send', 'pageview');

</script>
<!-- Fin de la section Content -->
</body>
</html>