<div class="row">
    <p id="Description" class="col-lg-12 col-md-12">
        Lorem ipsum dolor amet et is dolor avera...
    </p>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <ul id="ListNews" class="row">
            <li class="col-lg-6 col-md-6 newsTpl1">
                <article>
                    <img src="#"/>
                    <div class="content">
                        <h3>Lorem ipsum</h3>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        <a href="#">En savoir plus</a>
                        <p class="posted"><small>postée le 12/01/2014</small></p>
                    </div>
                </article>
            </li>
            <li class="col-lg-6 col-md-6 newsTpl2">
                <article>
                    <img src="#"/>
                    <div class="content">
                        <h3>Lorem ipsum</h3>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        <a href="#">En savoir plus</a>
                        <p class="posted"><small>postée le 12/01/2014</small></p>
                    </div>
                </article>
            </li>
            <li class="col-lg-6 col-md-6 newsTpl1">
                <article>
                    <img src="#"/>
                    <div class="content">
                        <h3>Lorem ipsum</h3>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        <a href="#">En savoir plus</a>
                        <p class="posted"><small>postée le 12/01/2014</small></p>
                    </div>
                </article>
            </li>
            <li class="col-lg-6 col-md-6 newsTpl2">
                <article>
                    <img src="#"/>
                    <div class="content">
                        <h3>Lorem ipsum</h3>
                        <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
                        <a href="#">En savoir plus</a>
                        <p class="posted"><small>postée le 12/01/2014</small></p>
                    </div>
                </article>
            </li>
        </ul>
        <a id="MoreNews" href="#" class="col-lg-12 col-md-12"><div>Voir toutes les actualités</div></a>
    </div>
    <div class="col-lg-4 col-md-4">
        <section id="Calendar">
            <h3>
                <button class="before"></button>
                <span>Février 2014</span>
                <button class="after"></button>
            </h3>
            <div class="content">
                <table>
                    <tr class="day">
                        <td><span>L</span></td>
                        <td><span>Ma</span></td>
                        <td><span>Me</span></td>
                        <td><span>J</span></td>
                        <td><span>V</span></td>
                        <td><span>S</span></td>
                        <td><span>D</span></td>
                    </tr>
                    <tr class="week">
                        <td class="otherMonth"><span>27</span></td>
                        <td class="otherMonth"><span>28</span></td>
                        <td class="otherMonth"><span>29</span></td>
                        <td class="otherMonth"><span>30</span></td>
                        <td class="otherMonth"><span>31</span></td>
                        <td><span>1</span></td>
                        <td><span>2</span></td>
                    </tr>
                    <tr class="week">
                        <td><span>3</span></td>
                        <td><span>4</span></td>
                        <td><span>5</span></td>
                        <td><span>6</span></td>
                        <td><span>7</span></td>
                        <td><span>8</span></td>
                        <td><span>9</span></td>
                    </tr>
                    <tr class="week">
                        <td><span>10</span></td>
                        <td><span>11</span></td>
                        <td class="active"><span>12</span></td>
                        <td><span>13</span></td>
                        <td><span>14</span></td>
                        <td><span>15</span></td>
                        <td><span>16</span></td>
                    </tr>
                    <tr class="week">
                        <td><span>17</span></td>
                        <td><span>18</span></td>
                        <td><span>19</span></td>
                        <td><span>20</span></td>
                        <td><span>21</span></td>
                        <td><span>22</span></td>
                        <td><span>23</span></td>
                    </tr>
                    <tr class="week">
                        <td><span>24</span></td>
                        <td><span>25</span></td>
                        <td><span>26</span></td>
                        <td><span>27</span></td>
                        <td><span>28</span></td>
                        <td class="active"><span>29</span></td>
                        <td class="otherMonth"><span>1</span></td>
                    </tr>
                    <tr class="week">
                        <td class="otherMonth"><span>2</span></td>
                        <td class="otherMonth"><span>3</span></td>
                        <td class="otherMonth"><span>4</span></td>
                        <td class="otherMonth"><span>5</span></td>
                        <td class="otherMonth"><span>6</span></td>
                        <td class="otherMonth"><span>7</span></td>
                        <td class="otherMonth"><span>8</span></td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="ListNextEvents">
            <h3>Evénements à venir</h3>
            <ul class="listMonths">
                <li>
                    <h4>Février</h4>
                    <ul class="listEvents">
                        <li>
                            <a href="#">
                                <img src="#"/>
                                <div>
                                    <p class="date">12/05/12</p>
                                    <h5>Lorem ipsum</h5>
                                </div>
                            </a>
                        </li>
                        <li class="second">
                            <a href="#">
                                <img src="#"/>
                                <div>
                                    <p class="date">12/05/12</p>
                                    <h5>Lorem ipsum</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>Mars</h4>
                    <ul class="listEvents">
                        <li>
                            <a href="#">
                                <img src="#"/>
                                <div>
                                    <p class="date">12/05/12</p>
                                    <h5>Lorem ipsum</h5>
                                </div>
                            </a>
                        </li>
                        <li class="second">
                            <a href="#">
                                <img src="#"/>
                                <div>
                                    <p class="date">12/05/12</p>
                                    <h5>Lorem ipsum</h5>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</div>