#Content{
  margin-top:5px;
  padding-top:20px;
  padding-bottom:35px;
  background:@lightGray;
  box-shadow: 0px 3px 5px; rgba(0,0,0,0.3);
  min-height:800px;
  >p{
    margin:0px 20px 40px 20px;
    color:@darkGray;
    overflow:hidden;
    font-size:14px;
  }
  h1{
    color: @blue;
    font-weight:500;
    font-size:25px;
    margin:0px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:40px;

  }
}

#Description{
  color:@darkGray;
  overflow:hidden;
  font-size:17px;
  margin-top:20px;
  margin-bottom:50px;
  font-weight:300;
}
#DescriptionPage{
  color:@darkGray;
  overflow:hidden;
  font-size:17px;
  margin-top:10px;
  margin-bottom:30px;
  font-weight:300;
}
#ListNews{
  padding:0px;
  margin:0px;
  list-style:none;
  .newsTpl{
    margin-bottom:20px;
    >article{
      height:300px;
      max-height:300px;
      background:@white;
      >img{
        width:100%;
        position:relative;
        height:135px;
      }
      >.content{
        height:165px;
        position:relative;
        padding:10px 10px 4px 10px;
        &:before{
          transition:all 0.5s;
          content:" ";
          width:16px;
          height:16px;
          background:url(../images/ico-rond.png);
          top:-8px;
          left:-8px;
          position:absolute;
        }
        >h3{
          color:@blue;
          margin:0px;
          font-weight:500;
          padding:0px;
          font-size:1.8rem;
          margin-bottom:8px;
        }
        >p{
          font-size:1rem;
          color:@darkGray;
        }
        >a{
          display:block;
          text-decoration:underline;
          text-align:center;
          font-size:1rem;
          color:@blue;
          &:hover{
            text-decoration:none;
          }
        }
        >.posted{
          position:absolute;
          margin:0;
          right:30px;
          bottom:2px;
          text-align:right;
        }
      }
    }
  }
  /*.newsTpl2{
    >div{
      >img{
        width:100%;
        position:relative;
        height:180px;
      }
      >.content{
        height:120px;
        position:relative;
        padding:10px 10px 4px 10px;
      }
    }
  }*/
}

#MoreNews{
  display:block;
  &:hover{
    text-decoration:none;
  }
  >div{
    line-height:38px;
    height:38px;
    background: @blue;
    color:white;
    display:block;
    font-variant:small-caps;
    font-weight:300;
    transition: background 0.3s;
    text-align:center;
    font-size:1.6rem;
    &:hover{
      background:@darkGray;
    }
  }
}

#Dispositifs-Missions{
  list-style:none;
  padding:0;
  >li{
    background:white;
    display:block;
    margin-bottom:25px;
    position:relative;
    >div>div:not(.image){
      min-height:131px;
      overflow:hidden;
      padding-bottom:25px;
    }
    .image{
      padding-bottom:16.666666666667%;
      height:1px;
      background-position:center;
      background-size:cover;
      text-indent:-9999px;
      overflow:hidden;
    }
    h2{
      color:@blue;
      font-weight:500;
      font-size:18px;
      margin:0;
      margin-top:10px;
    }
    p{
      margin-top:8px;
      color:@darkGray;
      height:68px;
      overflow:hidden;
      font-size:12px;
      margin-bottom:0px;
      &.expandable{
        height:100%;
      }
    }
    button{
      position:absolute;
      bottom:0px;
      background:none;
      border:0px;
      color:@blue;
      font-size:11px;
      padding:0;
      margin:0px;
      left:0px;
      width:100%;
      margin-top:0px;
      display:block;
      transition: all 0.3s;
      padding:5px 0px;
      text-align:center;
      &:hover{
        color:white;
        background:@darkGray;
      }
      &:focus{
        outline:none;
      }
    }
  }
}

#Equipe{
  list-style:none;
  padding:0;
  li{
    margin-bottom:20px;
    >div{
      padding:5px;
      background:@white;
    }
    h2{
      color:@blue;
      font-weight:500;
      font-size:18px;
      margin:0;
      margin-top:10px;
    }
    p{
      margin-top:8px;
      color:@darkGray;
      overflow:hidden;
      font-size:12px;
      margin-bottom:0px;
      &.poste{
        margin-top:15px;
        margin-bottom:15px;
      }
    }
  }
}

#Contact{
  h2{
    margin:0px;
    border-top: 1px solid @darkGray;
    padding:15px 0px;
    font-weight:300;
    font-size:22px;

  }
  input{
    display:block;
    color:@darkGray;
    overflow:hidden;
    font-size:12px;
    text-indent:7px;
    width:100%;

    padding:7px 0px;
    border:1px solid @darkGray;
    +input{
      margin-top:15px;
    }
    &:focus{
      outline:none;
    }
  }
  textarea{
    display:block;
    color:@darkGray;
    font-size:12px;
    max-width:100%;
    width:100%;
    margin-top:15px;
    min-width:100%;
    height:150px;
    max-height:250px;
    border:1px solid @darkGray;
    padding:7px;
    &:focus{
      outline:none;
    }
  }

  button{
    background: @blue;
    color:white;
    border:0px;
    padding:5px 20px;
    font-size:16px;
    font-weight:300;
    margin-top:15px;
    transition: all 0.3s;
    float:right;
    &:focus{
      outline:none;
    }
    &:hover{
      background:@darkGray;
    }
  }
  #Coordonnees{
    background:white;
    margin-top:17px;
    padding:5px;
    p{
      margin:0;
      color:@darkGray;
      font-size:13px;
    }
    .email{
      color:@blue;
      font-weight:500;
      font-size:13px;
      display:block;
      text-decoration: underline;
      &:hover{
        display:block;
        text-decoration:none;
      }
    }
  }
  #GoogleMapContainer{
  }
  #GoogleMap{
    width:100%;
    //padding-bottom:50%;
    height:182px;
  }
  #PiecesJointes{
    margin-top:15px;
    margin-bottom: 30px;
    .link{
      color:@blue;
      font-weight:500;
      font-size:13px;
      display:block;
      text-decoration: underline;
      &:hover{
        display:block;
        text-decoration:none;
      }
    }
  }
}

#ExperienceEquipe,#ExperienceJeune,#ExperienceAncien{
  ul{
    list-style: none;
    padding-left:30px;
    margin-bottom: 0px;
  }
  .carousel{
    position:relative;
    .flex-control-nav{
      position:absolute;
      bottom:-12px;
    }
    .flex-direction-nav{
      position:absolute;
      width:100%;
      height:0px;
      padding:0px;
      margin:0px;
      top:50%;
      >li{
        width:100%;
        position:relative;
        >a{
          position:absolute;
          padding:0;
          margin:0;
          text-indent: -9999px;
          z-index: 5;
          top:50%;
          height:32px;
          width:22px;
          margin-top:-16px;
          background-repeat: no-repeat;
          transition: all 0.3s;
        }
        .flex-prev{
          background-image:url(../images/ico-arrowLeftGray.png);
          background-position: center left;
          left:-60px;
          &:hover{
            width:44px;
            left:-82px;
          }
        }
        .flex-next{
          background-image:url(../images/ico-arrowRightGray.png);
          background-position: center right;
          right:-30px;
          &:hover{
            width:44px;
            right:-52px;
          }
        }
      }
    }
  }
  .anExperienceEquipe,.anExperienceJeune,.anExperienceAncien{
    background:white;
    display:block;
    margin-bottom:25px;
    position:relative;
    &:last-child{
      margin-bottom: 0px;
    }
    >div>div:not(.image){
      min-height:131px;
      overflow:hidden;
      padding-bottom:25px;
    }
    .image{
      padding-bottom:16.666666666667%;
      height:1px;
      background-position:center;
      background-size:cover;
      text-indent:-9999px;
      overflow:hidden;
    }
    h3{
      color:@blue;
      font-weight:500;
      font-size:18px;
      margin:0;
      margin-top:10px;
    }
    p{
      margin-top:8px;
      color:@darkGray;
      height:68px;
      overflow:hidden;
      font-size:12px;
      margin-bottom:0px;
      &.expandable{
        height:100%;
      }
    }
    button{
      position:absolute;
      bottom:0px;
      background:none;
      border:0px;
      color:@blue;
      font-size:11px;
      padding:0;
      margin:0px;
      left:0px;
      width:100%;
      margin-top:0px;
      display:block;
      transition: all 0.3s;
      padding:5px 0px;
      text-align:center;
      &:hover{
        color:white;
        background:@darkGray;
      }
      &:focus{
        outline:none;
      }
    }
  }
}